body {
	background-color: #8d9f8fff;
	font-family: 'Open Sans', sans-serif;
	height: 100vh;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

h1 {
	font-size: 2.5rem;
	font-weight: bolder;
	margin-bottom: 5px;
}

p {
	margin-bottom: 20px;	
}

ul img {
	width: 3.5rem;
}

.container {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.avatar {
	width: 15rem;
	margin-bottom: 20px;
}

.titulo {
	text-align: center;
}

.lista {
	width: 250px;
	margin: 0 auto;
}

.lista_itens {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.itens {
	padding: 8px;
}

.rodape {
	text-align: center;
	padding: 10px 0;
	width: 100%;
	background-color: #000;
	color: #FFF;
}

@media screen and (min-width: 768px) {
	.container {
		flex-direction: row;
		justify-content: center;
		margin: auto 0;
	}

	.avatar {
		width: 15rem;
		margin: 0 20px;
	}

	.principal {
		margin: 0 20px;
	}

	.titulo {
		text-align: start;
	}

	.lista {
		width: 450px;
	}

	.lista_itens {
		justify-content: space-between;
	}

	.itens {
		padding: 0;
	}


}


